<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jbay.com</title>
</head>
<body>
	<h>Jbay</h>
	<p>Welcom to our shop, be beautiful as always with Jbay!</p>
	<br>

	<h1>Facial Roller.</h1>
	<img src="https://media.glamour.com/photos/5c1ad82249382d70eeb41371/1:1/w_2000,h_2000,c_limit/roller%20.png">
	<br>
	<p>Price:50$ <br> The jade stone is known, and valued, for its balancing, regenerating and protecting properties. Its properties are said to enhance inner harmony and balance. When used as a facial roller, the green jade mineral firms the skin, reduces the appearance of dark circles and boosts smoothness with regular use.</p>

</body>
</html>